html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

body,
nav,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
ul,
ol,
li,
input,
button,
textarea,
footer {
  margin: 0;
  padding: 0;
}

body {
  font: 62.5%/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

img {
  vertical-align: middle;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

em,
i {
  font-style: normal;
}

img {
  max-width: 100%;
  border: 0;
}

input:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul,
li {
  list-style: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: #333;
}

.cf:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.cf {
  min-height: 1%;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.break {
  word-break: break-all;
  word-wrap: break-word;
}

.mt10 {
  margin-top: 0.1rem !important;
}

.mt15 {
  margin-top: 0.15rem !important;
}

.mt20 {
  margin-top: 0.2rem !important;
}

.mt25 {
  margin-top: 0.25rem !important;
}

.mt30 {
  margin-top: 0.30rem !important;
}

.mt35 {
  margin-top: 0.35rem !important;
}

.mt40 {
  margin-top: 0.40rem !important;
}

.mt45 {
  margin-top: 0.45rem !important;
}

.mt50 {
  margin-top: 0.50rem !important;
}

.mt55 {
  margin-top: 0.55rem !important;
}

.mt60 {
  margin-top: 0.60rem !important;
}

.mt65 {
  margin-top: 0.65rem !important;
}

.mt70 {
  margin-top: 0.70rem !important;
}

.mt80 {
  margin-top: 0.80rem !important;
}

.mt85 {
  margin-top: 0.85rem !important;
}

.mt90 {
  margin-top: 0.90rem !important;
}

.mt95 {
  margin-top: 0.95rem !important;
}

.mt100 {
  margin-top: 1rem !important;
}

.mb10 {
  margin-bottom: 0.1rem !important;
}

.mb15 {
  margin-bottom: 0.15rem !important;
}

.mb20 {
  margin-bottom: 0.20rem !important;
}

.mb25 {
  margin-bottom: 0.25rem !important;
}

.mb30 {
  margin-bottom: 0.30rem !important;
}

.mb35 {
  margin-bottom: 0.35rem !important;
}

.mb40 {
  margin-bottom: 0.40rem !important;
}

.mb45 {
  margin-bottom: 0.45rem !important;
}

.mb50 {
  margin-bottom: 0.50rem !important;
}

.mb55 {
  margin-bottom: 0.55rem !important;
}

.mb60 {
  margin-bottom: 0.60rem !important;
}

.mb65 {
  margin-bottom: 0.65rem !important;
}

.mb70 {
  margin-bottom: 0.70rem !important;
}
